@import "tailwindcss";

@theme {
  --color-brand-bg: #F8FAFC;
  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;
}

@layer base {
  body {
    @apply bg-brand-bg text-slate-900 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
  }
}